#footer{
	padding:50px 0;
	background-color:#514aa3;
    color:#FFFFFF;
    a{
        color:#FFFFFF;
    }

    .menu-footer{
        display:inline-block;

        div.menu-op{
            float:left;
            a{
                color:white;
                padding-bottom:8px;
                font-size:13px;
                padding:20px;
            }
            a:hover{
                color:#514aa3;
                -webkit-transition: color 0.5s linear; /* Saf3.2+, Chrome */
                -moz-transition: color 0.5s linear; /* FF3.7+ */
                -o-transition: color 0.5s linear; /* Opera 10.5 */
                transition: color 0.5s linear;
            }

        }
    }
}

@media (max-width: 991px) {  
	
}

@media (min-width: 992px) {  
  
}


